body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-table {
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.user-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.user-table th,
.user-table td {
    padding: 0px 5px;
}


.pagination{
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.pagination a{
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  transition: .3s linear;
}

.pagination a:hover{
  color: #eb4d4b;
}

.pagination .active {
  color: red;
}

.pagination .inactive {
  color: black;
}

.bar{
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #eb4d4b;
  bottom: 0;
  left: -100px;
  transition: .4s linear;
}

.pagination a:nth-child(1):hover ~ .bar{
  left: 0;
}

.pagination a:nth-child(2):hover ~ .bar{
  left: 100px;
}

.pagination a:nth-child(3):hover ~ .bar{
  left: 200px;
}

.pagination a:nth-child(4):hover ~ .bar{
  left: 300px;
}

.pagination a:nth-child(5):hover ~ .bar{
  left: 400px;
}

.pagination a:nth-child(6):hover ~ .bar{
  left: 500px;
}

.pagination a:nth-child(7):hover ~ .bar{
  left: 600px;
}
.pagination a:nth-child(8):hover ~ .bar{
  left: 700px;
}